{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/rule/peanut_explain.css">
{/block}
{block name="header"}
{include file="common/header" /}
{/block}
{block name="content"}
        <main>
            <div class="peanut_explain">
                <h3>什么是花生？</h3>
                <span>花生是拍吖吖平台的一种有价积分。花生能够用于抵扣用户 在百利商城购买商品时的交易款。</span>
            </div>
            <div class="peanut_explain peanut_list">
                <h3>花生怎么用？</h3>
                <div>
                    <p>1、</p>
                    <span>花生与人民币的比值：1:1等额价值；</span>
                 </div>
                <div>
                    <p>2、</p>
                    <span>花生只能在诺丁百利商城中用于购买商品时抵扣货款；<a href="##">什么是诺丁百利？</a></span>
                </div>
                <div>
                    <p>3、</p>
                    <span> 花生不得转让，不得兑换人民币。</span>
                </div>
            </div>
            <div class="peanut_explain peanut_list">
                <h3>花生怎么得？</h3>
                <div>
                    <p>1、</p>
                    <span>用户在拍吖吖拍场中参团，但是最后没有成功团中的，按<a href="##">拍吖吖平台按规则</a>，将补助用户参团款的<h4>5%</h4>数额的花生；</span>
                </div>
                <div>
                    <p>2、</p>
                    <span>用户在拍吖吖卖场内消费：当用户确认收货，且平台约定退货期届满后，平台根据用户实际支付金额，按一定的规则向用户赠送花生；</span>
                </div>
                <div>
                    <p>3、</p>
                    <span> 用户也可以在拍吖吖卖场中直接购买花生。</span>
                </div>
            </div>
            <div class="peanut_explain peanut_list">
                <h3>注：</h3>
                <div>
                    <p>1、</p>
                    <span>拍吖吖平台有权对拍吖吖积分规则随时进行调整，新规则自公布之日起生效。</span>
                </div>
                <div>
                    <p>2、</p>
                    <span>拍吖吖花生规则最终解释权归属于拍吖吖平台。</span>
                </div>
            </div>
        </main>
        {/block}
{block name="script"}
{include file="common/js_sdk" /}
{/block}