{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/orderpai/zhifu.css">
<link rel="stylesheet" type="text/css" href="__CSS__/orderpai/conf_order.css">
<link rel="stylesheet" type="text/css" href="__CSS__/myhome/recharge.css">
<link rel="stylesheet" type="text/css" href="__CSS__/order_info/index.css">
{/block}
{block name="header"}
{include file="common/header" /}
{/block}
{block name="content"}
<main>
    <div class="recharge_main">
        <div class="recharge_num">
            现有花生数:<span>{$peanut}</span>
        </div>
        <div class="recharge_con">
            <span>购买花生数:</span>
            <input type="number" value="5" name="r_money"/>
        </div>
        <div class="recharge_con_tab">
            <ul class="clear">
                <li class="lf">300颗</li>
                <li class="lf">200颗</li>
                <li class="lf">100颗</li>
                <li class="lf">50颗</li>
            </ul>
        </div>
        <div class="recharge_price">
            价值金额:<small style="margin-left:0.51rem;color:#FE3939">￥</small><span style="margin-left: 0">5.00</span>
        </div>
    </div>
    <div class="recharge_paylist">
        <div class="recharge_list clear recharge_yuer">
            <div class="recharge_bg"></div>
            <div class="recharge_inp lf">
                <!--<input type="hidden" name="paytype" value="5"/>-->
                <img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt=""/>
            </div>
            <div class="recharge_payimg lf">
                <img src="__STATIC__/image/myhome/yuer@2x.png" alt=""/>
            </div>
            <div class="recharge_text lf">
                <p>余额支付</p>
                <span>当前账户余额￥<span class="recharge_list_price">{$m_money}</span></span>
            </div>
            <a href="/member/wallet/recharge/">
                <div class="recharge_chongzhi_btn rt">
                 充值
                </div>
            </a>
        </div>
        <div class="recharge_list clear widthdraw_gongzhonghao">
            <div class="recharge_inp lf">
                <!--<input type="hidden" name="paytype" value="1"/>-->
                <img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt=""/>
            </div>
            <div class="recharge_payimg lf">
                <img src="__STATIC__/image/wallet/weixin@2x.png" alt=""/>
            </div>
            <div class="recharge_text lf">
                <p>微信公众号支付</p>
                <span>推荐微信用户使用 </span>
            </div>
        </div>
        <div class="recharge_list clear">
            <div class="recharge_inp lf">

                <img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt=""/>
            </div>
            <div class="recharge_payimg lf">
                <img src="__STATIC__/image/wallet/weixin@2x.png" alt=""/>
            </div>
            <div class="recharge_text lf">
                <p>微信h5支付</p>
                <span>推荐微信用户使用 </span>
            </div>
        </div>
        <div class="recharge_list clear">
            <div class="recharge_inp lf">
                <!--<input type="hidden" name="paytype" value="3"/>-->
                <img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt=""/>
            </div>
            <div class="recharge_payimg lf">
                <img src="__STATIC__/image/wallet/zhifubao@2x.png" alt=""/>
            </div>
            <div class="recharge_text lf">
                <p>支付宝支付</p>
                <span>推荐支付宝用户使用 </span>
            </div>
        </div>
        <input type="hidden" name="paytype" value="0"/>
        <!--<div class="recharge_list clear">-->
            <!--<div class="recharge_inp lf">-->
                <!--<input type="checkbox"/>-->
                <!--<img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt=""/>-->
            <!--</div>-->
            <!--<div class="recharge_payimg lf">-->
                <!--<img src="__STATIC__/image/myhome/zhaoshang@2x.png" alt=""/>-->
            <!--</div>-->
            <!--<div class="recharge_text lf">-->
                <!--<p>银行卡支付</p>-->
                <!--<span>由拍吖吖钱包提供支付服务 </span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- <div class="recharge_agreen clear">
        <div class="recharge_agreen_img lf">
            <img src="__STATIC__/image/myhome/icon_weixuanze@2x.png" alt="" data="1"/>
            <img src="__STATIC__/image/myhome/icon_yixuanze@2x.png" alt="" class="recharge_agreen_disp" data="2"/>
        </div>
        <span class="lf">同意<a href="/index/index/agreement/at_name/花生使用协议">《拍吖吖花生使用协议》</a></span>
    </div> -->
    <div class="phonex anquan">
        <input type="submit" class="recharge_btn recharge_btn_yew"  value="安全支付">
    </div>

    <!--支付密码浮动层-->
    <div class="ftc_wzsf">
        <div class="srzfmm_box">
            <div class="qsrzfmm_bt clear_wl">
                <span class="">请输入支付密码</span>
                <img src="__STATIC__/image/orderpai/icon_nav_X@2x.png" class="tx close fr conf_order_colse">
            </div>
            <div class="zfmmxx_shop conf_order_paypassword_main clear">
                <p class="conf_order_hints">
                    <span class="conf_order_fuhao">￥</span>
                    <span class="all_money">54654</span>
                </p>
            </div>
            <!-- <ul class="mm_box">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul> -->
            <div class="inputBoxContainer" id="inputBoxContainer">
                <input type="tel" class="realInput" autofocus="autofocus"/>
                <div class="bogusInput">
                    <input type="password" maxlength="6" disabled class="active"/>
                    <input type="password" maxlength="6" disabled />
                    <input type="password" maxlength="6" disabled />
                    <input type="password" maxlength="6" disabled />
                    <input type="password" maxlength="6" disabled />
                    <input type="password" maxlength="6" disabled />
                </div>
            </div>
            <a href="/member/register/amnesia_payment">
                <p class="conf_forget">忘记密码</p>
            </a>
        </div>
        <!-- <div class="numb_box">
            <ul class="nub_ggg">
                <li><a href="javascript:void(0);" class="zf_num">1</a></li>
                <li><a href="javascript:void(0);" class="zj_x zf_num">2</a></li>
                <li><a href="javascript:void(0);" class="zf_num">3</a></li>
                <li><a href="javascript:void(0);" class="zf_num">4</a></li>
                <li><a href="javascript:void(0);" class="zj_x zf_num">5</a></li>
                <li><a href="javascript:void(0);" class="zf_num">6</a></li>
                <li><a href="javascript:void(0);" class="zf_num">7</a></li>
                <li><a href="javascript:void(0);" class="zj_x zf_num">8</a></li>
                <li><a href="javascript:void(0);" class="zf_num">9</a></li>
                <li><a href="javascript:void(0);" class="zf_empty">清空</a></li>
                <li><a href="javascript:void(0);" class="zj_x zf_num">0</a></li>
                <li><a href="javascript:void(0);" class="zf_del"><img
                        src="__STATIC__/image/orderpai/icon_01@2x.png"></a></li>
            </ul>
        </div> -->
        <div class="hbbj"></div>
    </div>
</main>
<input type="hidden" id="r_id">
<input type="hidden" id="app">
{/block}
{block name="script"}
{include file="common/js_sdk" /}
<script type="text/javascript" src="__JS__/order_info/payment.js"></script>
<script>
    //iosapp
    /*这段代码是固定的，必须要放到js中*/
    function setupWebViewJavascriptBridge(callback) {
        if (window.WebViewJavascriptBridge) { return callback(WebViewJavascriptBridge); }
        if (window.WVJBCallbacks) { return window.WVJBCallbacks.push(callback); }
        window.WVJBCallbacks = [callback];
        var WVJBIframe = document.createElement('iframe');
        WVJBIframe.style.display = 'none';
        WVJBIframe.src = 'wvjbscheme://__BRIDGE_LOADED__';
        document.documentElement.appendChild(WVJBIframe);
        setTimeout(function() { document.documentElement.removeChild(WVJBIframe) }, 0)
    }

    /*与OC交互的所有JS方法都要放在此处注册，才能调用通过JS调用OC或者让OC调用这里的JS*/
    setupWebViewJavascriptBridge(function(bridge) {
        /*JS给ObjC提供公开的API，ObjC端通过注册，就可以在JS端调用此API时，得到回调。ObjC端可以在处理完成后，反馈给JS，这样写就是在载入页面完成时就先调用*/
        bridge.callHandler('isApp',function(str) {
            $('#app').val(str);
        })
    })

var  r_money=$("input[name='r_money']").val();
if({$m_money}<r_money){
    $(".recharge_bg").show();
    $(".recharge_bg").click(function(){
        layer.confirm("余额不足", {
            title:false,/*标题*/
            closeBtn: 0,
            btnAlign: 'c',
            btn: ['去充值','其他充值方式'],
            btn1:function(){
                location.href="https://m.paiyy.com.cn/member/wallet/recharge";
            },
            btn2:function(){
                location.href="https://m.paiyy.com.cn/member/myhome/recharge_peanut";
            }
        })
        return false;
    })
}else{
    $(".recharge_bg").hide();
}

$(".recharge_con_tab li").click(function(){
    var lival=parseInt($(this).html());
//    console.log(lival);
    $("input[name='r_money']").val(lival);
    var lival2=$("input[name='r_money']").val();
    var preval2=parseFloat(lival2).toFixed(2);
    $(".recharge_price span").html(preval2);
})
    //实时去判断input的值
    $("input[name='r_money']").on("input propertychange",function(){
        var  r_money=$("input[name='r_money']").val();
        var preval=parseFloat($(this).val()).toFixed(2);
        $(".recharge_price span").html(preval);
        if($(this).val()==""){
            $(".recharge_price span").html(0);
        }
        clearNoNum(this);
//        判断余额是否充足
            if({$m_money}<r_money){
                $(".recharge_list").eq(0).find('.recharge_inp').children("img").attr("src","__STATIC__/image/myhome/icon_weixuanze@2x.png");
                $('input[name="paytype"]').val(0);
                $(".recharge_bg").show();
                $(".recharge_bg").click(function(){
                    layer.confirm("余额不足", {
                        title:false,/*标题*/
                        closeBtn: 0,
                        btnAlign: 'c',
                        btn: ['去充值','其他充值方式'],
                        btn1:function(){
                            location.href="https://m.paiyy.com.cn/member/wallet/recharge";
                        },
                        btn2:function(){
                            location.href="https://m.paiyy.com.cn/member/myhome/recharge_peanut";
                        }
                    })
                    return false;
                })
            }
            else{
                $(".recharge_bg").hide();
            }
    })
    //input只能输入小数点后两位
    function clearNoNum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");
        obj.value = obj.value.replace(/\.{2,}/g,".");
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
        if(obj.value.indexOf(".")< 0 && obj.value !=""){
            obj.value= parseFloat(obj.value);
        }
    }
    // 判断是否是微信浏览器
    $(document).ready(function () {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {

            $(".recharge_list").css({display: "none"});
            $(".widthdraw_gongzhonghao").css({display: "block"});
            $(".recharge_yuer").css({display: "block"});
        } else {
            $(".recharge_list").css({display: "block"});
            $(".widthdraw_gongzhonghao").css({display: "none"});
            $(".recharge_yuer").css({display: "block"});
        }
    })
//    选择支付方式
    $(".recharge_inp").click(function(){
        $(".recharge_inp").children("img").attr("src","__STATIC__/image/myhome/icon_weixuanze@2x.png");
        $(this).children("img").attr("src","__STATIC__/image/myhome/icon_yixuanze@2x.png");
        if($(this).parents(".recharge_list").index()==0){
            $(this).parents(".recharge_paylist").find("input").val("5");
        }else if($(this).parents(".recharge_list").index()==1){
            $(this).parents(".recharge_paylist").find("input").val("1");
        }else if($(this).parents(".recharge_list").index()==2){
            $(this).parents(".recharge_paylist").find("input").val("2").attr('data',6);
        }else if($(this).parents(".recharge_list").index()==3){
            $(this).parents(".recharge_paylist").find("input").val("3").attr('data',7);
        }else if($(this).parents(".recharge_list").index()==4){
            $(this).parents(".recharge_paylist").find("input").val("4");
        }
    });
//    //如果余额为0.则标题变灰色
//    var htm=$(".recharge_list_price").html();
//    var val=parseFloat(htm);
//    if(val==0){
//        $(".recharge_list_price").parents().siblings("p").css({color:"#aaaaaa"});
//    }
    //点击协议
    $(".recharge_agreen_img").on("click",function(){
        $(this).children("img").toggleClass("recharge_agreen_disp");
        $(".recharge_btn").toggleClass("recharge_btn_yew");
        if($(".recharge_agreen_disp").attr("data")==1){
            $(".recharge_btn").attr("disabled",true);
        }else{
            $(".recharge_btn").attr("disabled",false);
        }
    })
    //点击安全支付
    $(".recharge_btn").click(function(){
        var  r_money=$("input[name='r_money']").val();
        //判断输入数量
        if(r_money==""){
            layer.msg("<span style='color:#fff'>金额不能为空</span>",{
                time:2000
            });
            return false;
        }
        if(r_money==0){
            layer.msg("<span style='color:#fff'>金额不能为0</span>",{
                time:2000
            });
            return false;
        }
        var number=/^\d+\.?\d*$/;
        if(!number.test(r_money)){
            layer.msg("<span style='color:#fff'>只能输入数字或者小数哦</span>",{
                time:2000
            });
            return false;
        }
        if($(".recharge_paylist").find("input").val() == 0){
            layer.msg("<span style='color:#fff'>请选择充值方式</span>",{
                time:2000
            });
            return false;
        }

        if($(".recharge_paylist").find("input").val()==5){
            //判断余额是否充足
            if({$m_money}<r_money){
                $(".recharge_bg").show();
                $(".recharge_bg").click(function(){
                    layer.confirm("余额不足", {
                        title:false,/*标题*/
                        closeBtn: 0,
                        btnAlign: 'c',
                        btn: ['去充值','其他充值方式'],
                        btn1:function(){
                            location.href="https://m.paiyy.com.cn/member/wallet/recharge";
                        },
                        btn2:function(){
                            location.href="https://m.paiyy.com.cn/member/myhome/recharge_peanut";
                        }
                    })
                    return false;
                })
            }else{
                $(".recharge_bg").hide();
                $.ajax("/index/yuepay/is_has_paypwd",{
                    type:"POST",
                    dataType:"json",
                    data: {},
                    success:function(data){
                        if(data.status==1){
                            var money_val=$(".recharge_price span").html();
                            var r_money=$("input[name='r_money']").val();
                            var r_type=$(".recharge_paylist").find("input").val();
                            $(".ftc_wzsf").show();
                            $(".all_money").html(money_val);
                            $.ajax("/index/notify/addpayorder",{
                                dataType: 'json',//服务器返回json格式数据
                                type: 'POST',//HTTP请求类型
                                data: { r_money: r_money, r_type: r_type,r_for:2,r_jump_id:0,r_jump_type:3},
                                success:function(res){
                                    if(res.status==1){
                                        $('#r_id').val(res.r_id);
                                    }
                                }
                            })
                        }else{
                            layer.confirm("你还没有设置支付密码哦", {
                                title:false,/*标题*/
                                closeBtn: 0,
                                btnAlign: 'c',
                                btn: ['去设置','其他支付'],
                                btn1:function(){
                                    location.href="";
                                },
                                btn2:function(){
                                    location.href="https://m.paiyy.com.cn/member/myhome/recharge_peanut";
                                }
                            })
                        }
                    }
                })
            }
        }else{
         /*判断为其他支付时*/
            var r_money=$("input[name='r_money']").val();
            var r_type=$(".recharge_paylist").find("input").val();
            var ra_type=$(".recharge_paylist").find("input").attr('data');
            
            var data = '{"member_id": "'+{$m_id}+'","r_money": "'+r_money+'","r_type": "'+ra_type+'","r_for": "2"}';
            
            if($('#app').val() != '') {
                /*与OC交互的所有JS方法都要放在此处注册，才能调用通过JS调用OC或者让OC调用这里的JS*/
                setupWebViewJavascriptBridge(function(bridge) {
                    /*JS给ObjC提供公开的API，ObjC端通过注册，就可以在JS端调用此API时，得到回调。ObjC端可以在处理完成后，反馈给JS，这样写就是在载入页面完成时就先调用*/
                    bridge.callHandler('getPayParams',data)
                })
            }else {
                // 非微信浏览器端安卓充值
                if(hideFlag){
                    if (typeof(window.android) != "undefined") {
                        if(androidIos() == 'android') {
                            window.android.getPayParams(data); //安卓
                        }
                    } else {
                        $.ajax("/index/notify/addpayorder",{
                        dataType: 'json',//服务器返回json格式数据
                        type: 'POST',//HTTP请求类型
                        data: { r_money: r_money, r_type: r_type,r_for:2,r_jump_id:0,r_jump_type:3},
                        success:function(data){
                            if(data.status==1){
                                if ($(".recharge_paylist").find("input").val() == 1) {
                                    window.location.href ="https://m.paiyy.com.cn/index/notify/wx_jsapi_pay/r_id/"+data.r_id;
                                } else if ($(".recharge_paylist").find("input").val()== 2) {
                                    window.location.href ="https://m.paiyy.com.cn/index/wxh5pay/wx_h5_pay/r_id/"+data.r_id;
                                } else if ($(".recharge_paylist").find("input").val()== 3) {
                                    window.location.href ="https://m.paiyy.com.cn/index/aliwappay/ali_wap_pay/r_id/"+data.r_id
                                } else if ($(".recharge_paylist").find("input").val() == 4) {
                                }
                            }

                        }
                    })
                    }
                }else {
                    $.ajax("/index/notify/addpayorder",{
                        dataType: 'json',//服务器返回json格式数据
                        type: 'POST',//HTTP请求类型
                        data: { r_money: r_money, r_type: r_type,r_for:2,r_jump_id:0,r_jump_type:3},
                        success:function(data){
                            if(data.status==1){
                                if ($(".recharge_paylist").find("input").val() == 1) {
                                    window.location.href = "https://m.paiyy.com.cn/index/notify/wx_jsapi_pay/r_id/"+data.r_id;
                                } else if ($(".recharge_paylist").find("input").val()== 2) {
                                    window.location.href ="https://m.paiyy.com.cn/index/wxh5pay/wx_h5_pay/r_id/"+data.r_id;
                                } else if ($(".recharge_paylist").find("input").val()== 3) {
                                    window.location.href ="https://m.paiyy.com.cn/index/aliwappay/ali_wap_pay/r_id/"+data.r_id
                                } else if ($(".recharge_paylist").find("input").val() == 4) {
                                }
                            }

                        }
                    })
                }                
            }
        }
    })

    //安卓,ios支付成功
    function pay_success(str) {
        var val = JSON.parse(str);
        if(val.status == 1) {
            layer.msg("<span style='color:#fff'>"+ val.msg +"</span>",{
                time:2000
            },function(){
                window.location.href ="/member/wallet/recharge_success/r_id/"+val.rid;
            });
        }else {
            layer.msg("<span style='color:#fff'>"+ val.msg +"</span>",{
                time:2000
            });
        }
    }

    /*与OC交互的所有JS方法都要放在此处注册，才能调用通过JS调用OC或者让OC调用这里的JS*/
    setupWebViewJavascriptBridge(function(bridge) {
        /*JS给ObjC提供公开的API，在ObjC端可以手动调用JS的这个API。接收ObjC传过来的参数，且可以回调ObjC*/
        bridge.registerHandler('pay_success', function(str) {
            var val = JSON.parse(str);
            if(val.status == 1) {
                layer.msg("<span style='color:#fff'>"+ val.msg +"</span>",{
                    time:2000
                },function(){
                    window.location.href ="/member/wallet/recharge_success/r_id/"+val.rid;
                });
            }else {
                layer.msg("<span style='color:#fff'>"+ val.msg +"</span>",{
                    time:2000
                });
            }
        })
    })


//关闭浮动
$(".close").click(function () {
    $(".ftc_wzsf").hide();
    $(".mm_box li").removeClass("mmdd");
    $(".mm_box li").attr("data", "");
    i = 0;
    // is_setorder();
});
// //数字显示隐藏
// $(".xiaq_tb").click(function () {

//     $(".numb_box").slideUp(500);
// });
// $(".mm_box").click(function () {
//     $(".numb_box").slideDown(500);
// });
// //点击数字
// var i = 0;
// $(".nub_ggg li .zf_num").click(function () {
// //    var txt = $(this).text();
//     if (i < 6) {
// //        $(".mm_box li").eq(i).html(txt);
// //        setTimeout(function () {
// //            $(".mm_box li").eq(i - 1).html("");
// //            $(".mm_box li").eq(i - 1).addClass("mmdd");
// //        }, 100);
//         $(".mm_box li").eq(i).addClass("mmdd");
//         $(".mm_box li").eq(i).attr("data", $(this).text());
//         i++
//         if (i == 6) {
//             setTimeout(function () {
//                 var paypwd  = "";
//                 $(".mm_box li").each(function () {
//                     paypwd  += $(this).attr("data");
//                 });
//                 var r_money=$("input[name='r_money']").val();
//                 var r_type=$(".recharge_paylist").find("input").val();
//                 var r_id = $('#r_id').val();
//                 $.ajax("/index/yuepay/checkpaypwd",{
//                     dataType: 'json',//服务器返回json格式数据
//                     type: 'POST',//HTTP请求类型
//                     data: {r_money: r_money, r_type: r_type,r_for:2,paypwd:paypwd},
//                     success:function(data){
//                           if(data.status == 1) {
//                               location.href="{$Think.PAI_URL}"+"/index/yuepay/ypay/r_id/"+r_id
//                           }else {
//                               layer.msg("<span style='color:#fff'>"+data.msg+"</span>",{
//                                   time:2000
//                               });
//                           }
//                     }
//                 })


//             },200)

//         }
//     }
// });
// $(".nub_ggg li .zf_del").click(function () {
//     if (i > 0) {
//         i--
//         $(".mm_box li").eq(i).removeClass("mmdd");
//         $(".mm_box li").eq(i).attr("data", "");
//     }
// });
// $(".nub_ggg li .zf_empty").click(function () {
//     $(".mm_box li").removeClass("mmdd");
//     $(".mm_box li").attr("data", "");
//     i = 0;
// });
boxInput.init(function () {
    var pawval = boxInput.getBoxInputValue();
    setTimeout(function () {
        var paypwd  = pawval;
        var r_money=$("input[name='r_money']").val();
        var r_type=$(".recharge_paylist").find("input").val();
        var r_id = $('#r_id').val();
        $.ajax("/index/yuepay/checkpaypwd",{
            dataType: 'json',//服务器返回json格式数据
            type: 'POST',//HTTP请求类型
            data: {r_money: r_money, r_type: r_type,r_for:2,paypwd:paypwd},
            success:function(data){
                if(data.status == 1) {
                    location.href="{$Think.PAI_URL}"+"/index/yuepay/ypay/r_id/"+r_id
                }else {
                    layer.msg("<span style='color:#fff'>"+data.msg+"</span>",{
                        time:2000
                    });
                    $(".realInput").val('')
                    boxInput.setValue();
                }
            }
        })
    },200)
});
</script>
{/block}