{extend name="common/base" /}
{block name="style"}

<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/bootstrap-fileinput-master/css/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/edit.css">
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/lib/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/bootstrap-fileinput-master/js/locales/zh.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/summernote.min.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/demo/notepad.js"></script>
{/block}
{block name="content"}
<div class="container-fluid">
    <div class="panel panel-default">
        <form method="post" action="{:url('Webimagestype/edit')}" id="edit_form" onsubmit="return form_submit()" >
            <div class="panel-body">
                <div class="form-group from_add_authority">
                    <label>{if condition="$wit_id > 0"}图片分类编辑{else/}图片分类添加{/if}</label>
                </div>
                <div class="form-group from_add_margin">
                    <label>分类名称</label>
                    <input type="text" name="wit_name" class="form-control" placeholder="分类名称" value="{$info.wit_name|default=''}">
                </div>
                <div class="form-group">
                    <label>分类字段</label>
                    <input type="text" name="wit_code" class="form-control" placeholder="分类字段" value="{$info.wit_code|default=''}">
                </div>
            </div>
            <div class="form-group text-right" style="margin-top:20px">
                <input type="hidden" name="wit_id" value="{$wit_id|default='0'}"/>
                <button type="submit" class="btn btn-primary">保存信息</button>
                <button type="reset" class="btn btn-default">取消操作</button>
            </div>
        </form>
    </div>
</div>
<script>
    function form_submit(){

        //表单验证 TODO。。

        return true;
    }
</script>
{/block}

