{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
<!-- <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/goodscategory.css"> -->
{/block}
{block name="content"}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group  from_add_authority">
                <label>广告图片列表</label>
                <a class="pull-right" href="{:url('Webimagestype/edit')}">添加分类</a>
            </div>
            <table class="table table-hover" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>图片分类ID</th>
                    <th>分类名称</th>
                    <th>分类字段</th>
                    <th>图片管理</th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                {empty name="list"}
                <tr>
                    <td colspan="20">没有数据</td>
                </tr>
                {else/}
                {volist name="$list" id="vo"}
                <tr>
                    <th scope="row" class="sid">{$vo.wit_id}</th>
                    <td>{$vo.wit_name}</td>
                    <td>{$vo.wit_code}</td>
                    <td>
                        <a href="{:url('Webimagestype/edit',['wit_id' => $vo.wit_id])}">
                            编辑
                        </a>
                        <a href="{:url('Webimagestype/delete',['wit_id' => $vo.wit_id])}" class="dele_btn">
                            删除
                        </a>
                    </td>
                </tr>
                {/volist}
                {/empty}
                </tbody>
            </table>
            <div>
                {$page}
                <span class="pagi_bar">共&nbsp;{$total}&nbsp;条</span>
            </div>
        </div>
    </div>
</div>
{/block}

