{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/orderpai/conf_order.css">
<link rel="stylesheet" type="text/css" href="__CSS__/orderpai/index.css">
{/block}
{block name="header"}
{include file="common/header" /}
{/block}
{block name="content"}
<main>

{if condition="$info.o_paystate > 1"}
{switch name="info.o_state"}
{case value="2"}
<!--恭喜团中开始 等待发货开始-->
<div class="order_index order_zhongjiang">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_liwu@2x.png" alt="">
        </div>
        <p class="lf">团中者等待您的发货</p>
    </div>
    <p class="order_index_hink">揭晓时间 {$awardinfo.o_paytime|date='Y-m-d H:i',###}</p>
    <div class="order_index_pic order_zhongjiang_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="/member/orderpai/paier_list/gdr_id/{$info.gdr_id|default=0}/o_periods/{$info.o_periods}" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码:{$awardinfo.oa_code|default=''}
            </p>
            <!--<a href="##" class="order_index_all order_index_chakan rt">-->
                <!--<span>查看</span>-->
                <!--<img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">-->
            <!--</a>-->
        </div>
    </div>
</div>
<!--恭喜团中结束 等待发货结束-->
{/case}
{case value="3"}
<!--订单已发货开始-->
<div class="order_index order_yifahuo">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_dizhi@2x.png" alt="">
        </div>
        <p class="lf">订单已发货</p>
    </div>
    <!--<p class="order_index_hink">15天12时13分后卖家将自动确认收货</p>-->
    <p class="order_index_hink">20天未未确认收货后卖家将自动确认收货</p>

    <div class="order_index_pic order_jiexiaozhong_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="##" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码：{$awardinfo.oa_code|default=''}
            </p>
            <a href="##" class="order_index_all order_index_chakan rt">
                <span>查看</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>
    </div>
</div>
<!--订单已发货结束-->
{/case}
{case value="4"}
<!--评价商品开始 待结算开始-->
<div class="order_index order_yifahuo">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_ka@2x.png" alt="">
        </div>
        <p class="lf">商品等待结算中</p>
    </div>
    <!--<p class="order_index_hink">15天12时13分后系统将自动好评</p>-->
    <p class="order_index_hink">20天未评价订单系统将自动好评</p>

    <div class="order_index_pic order_jiexiaozhong_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="##" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码：{$awardinfo.oa_code|default=''}
            </p>
            <a href="##" class="order_index_all order_index_chakan rt">
                <span>查看</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>
    </div>
</div>
<!--待结算结束 评价商品结束-->
{/case}
{case value="5"}
<!--交易已完成开始-->
<div class="order_index order_over">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_wancheng@2x.png" alt="">
        </div>
        <p class="lf">交易已完成</p>
    </div>
    <p class="order_index_hink">吖吖期待您再次发布商品哟</p>

    <div class="order_index_pic order_yiwancheng_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="##" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码：{$awardinfo.oa_code|default=''}
            </p>
            <a href="##" class="order_index_all order_index_chakan rt">
                <span>查看</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>
    </div>
</div>
<!--交易已完成结束-->
{/case}
{case value="10"}
<!--未团中退款信息-->
{if condition="$info.o_paystate == 3"}
<!--订单退款中开始-->
<div class="order_index order_tuikuan">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_ka@2x.png" alt="">
        </div>
        <p class="lf">订单退款中</p>
    </div>
    <p class="order_index_hink">用户退款申请已成功提交 等待您的受理</p>

    <div class="order_index_pic order_tuikuan_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="##" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码：{$awardinfo.oa_code|default=''}
            </p>
            <a href="##" class="order_index_all order_index_chakan rt">
                <span>查看</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>
    </div>
</div>
<!--订单退款中结束-->
{elseif condition="$info.o_paystate == 4"}
<!--退款已完成开始-->
<div class="order_index order_over">
    <div class="order_index_top clear">
        <div class="order_img lf">
            <img src="__STATIC__/image/orderpai/icon_wancheng@2x.png" alt="">
        </div>
        <p class="lf">退款已完成</p>
    </div>
    <p class="order_index_hink">退款受理已完成</p>

    <div class="order_index_pic order_yiwancheng_pic">
        <div class="order_index_pic_top clear">
            <div class="order_index_header lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                <span>{$awardinfo.m_name_secret|default=''}</span>
                抽中商品
            </p>
            <a href="##" class="order_index_all rt">
                <span>所有参与者</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>

        <div class="order_index_bototm clear">
            <div class="order_index_icon lf">
                <img src="__STATIC__/image/orderpai/icon_xingyun@2x.png" alt="">
            </div>
            <p class="lf">
                团中吖吖码：{$awardinfo.oa_code|default=''}
            </p>
            <a href="##" class="order_index_all order_index_chakan rt">
                <span>查看</span>
                <img src="__STATIC__/image/orderpai/icom_jump@2x.png" alt="">
            </a>
        </div>
    </div>
</div>
<!--退款已完成结束-->
{/if}
<!--未团中退款信息 end-->
{/case}
{/switch}
{/if}

{if condition="$info.gs_id == 1"}
<!--地址栏-->
<div class="conf_order">
    <div class="conf_list clear">
        <div class="conf_img lf">
            <img src="__STATIC__/image/index/pic_home_taplace@2x.png"
                 data-original="__STATIC__/image/orderpai/icon_nav_dingwei@2x.png">
        </div>
        <div class="conf_name lf">
            <p class="conf_tit clear">
                {$info.o_receiver|default=''}
                <a href="tel:{$info.o_mobile|default=''}" class="conf_default rt">拨打</a>
                <span class="rt">{$info.o_mobile|default=''}</span>
                <span class="conf_default" onClick="copyUrl2()">复制</span>
            </p>

            <div>
                <p class="conf_site">
                    {$info.o_address|default=''}
                </p>
                <textarea name="" id="new_select">{$info.o_receiver|default=''} {$info.o_mobile|default=''} {$info.o_address|default=''}</textarea>
            </div>
        </div>
    </div>
    <div class="conf_seal">
        <img src="__STATIC__/image/orderpai/icon_ft@2x.png">
    </div>
</div>
{/if}
<!--商品信息-->
<div class="conf_content">
    <a href="/member/shop/index/store_id/{$info.store_id|default=0}">
        <div class="conf_con_tit">
            <img src="{$info.store_logo|default='/static/image/index/pic_home_taplace@2x.png'}">
            <span>{$info.stroe_name|default=''}</span>
        </div>
    </a>

    <div class="conf_order_main clear">
        <a href="/member/goodsproduct/index/g_id/{$info.g_id|default=0}">
            <div class="conf_order_img lf">
                <img src="{$info.gp_img|default='/static/image/index/pic_home_taplace@2x.png'}">
            </div>
            <div class="conf_order_text lf">
                <p>{$info.g_name|default=''}</p>

                <div class="conf_order_price clear">
                    <span class="conf_order_new">
                        ￥{$info.gp_settlement_price}
                        <span>￥{$info.gp_market_price}</span>
                    </span>
                    <span class="conf_order_inventory rt">x
                        <span>{$info.gp_num}</span>
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="conf_order_data">
    <div class="clear">
        截止日期
        <span class="conf_order_hint">目标满额立即揭晓</span>
        <span class="conf_order_time rt">{$info.g_endtime|date='Y-m-d H:i',###}</span>
    </div>
</div>
<div class="conf_order_data">
    <div class="clear">
        配送方式
        <span class="conf_order_time rt">{$info.o_express_way|default=''}</span>
    </div>
</div>
<div class="conf_order_data order_index_margin">
    <div class="clear">
        商品价格
        <span class="conf_order_time rt">￥{$info.o_money|default='0.00'}</span>
    </div>
</div>
<div class="conf_order_data">
    <div class="clear">
        运费
        <span class="conf_order_time rt">￥{$info.o_deliverfee|default='0.00'}</span>
    </div>
</div>
<div class="conf_order_data order_index_padding">
    <div class="clear">
        <p class="conf_order_time rt"> 总金额<span>￥{$info.o_totalmoney|default='0.00'}</span></p>
    </div>
</div>
<div class="order_index_form">
    <div class="order_index_list clear">
        <p class="lf">
            订单编号
            <span>{$info.o_sn|default=''}</span>
        </p>

        <div class="order_index_copy lf">
            复制
        </div>
    </div>
    <div class="order_index_list clear">
        <p class="lf">
            下单时间
            <span>{$info.o_addtime|date='Y-m-d H:i',###}</span>
        </p>
    </div>
    <div class="order_index_list clear">
        <p class="lf">
            付款时间
            <span>{$info.o_paytime|date='Y-m-d H:i',###}</span>
        </p>
    </div>
    {notempty name="$awardinfo.o_paytime"}
    <div class="order_index_list clear">
        <p class="lf">
            揭晓时间
            <span>{$awardinfo.o_paytime|default=0|date='Y-m-d H:i',###}</span>
        </p>
    </div>
    {/notempty}

    <!--{if condition="$info.o_paystate > 2 && $info.o_paystate < 7"}-->
    <!--<div class="order_index_list clear">-->
        <!--<p class="lf">-->
            <!--发货时间（暂无）-->
            <!--<span>2018-06-24 12:32</span>-->
        <!--</p>-->
    <!--</div>-->
    <!--{/if}-->
    <!--{if condition="$info.o_paystate == 5"}-->
    <!--<div class="order_index_list clear">-->
        <!--<p class="lf">-->
            <!--成交时间（暂无）-->
            <!--<span>2018-06-24 12:32</span>-->
        <!--</p>-->
    <!--</div>-->
    <!--{/if}-->
</div>

{if condition="$info.o_paystate > 1"/}
{switch name="info.o_state"}
{case value="2"}
<!--恭喜团中开始 待发货开始-->
<div class="order_index_btn clear">
    <a href="/member/Orderpai/new_logistics/o_id/{$info.o_id|default=0}">
        <div class="order_index_shouhuo order_payfor rt ">立即发货</div>
    </a>
</div>
<!--待发货结束 恭喜团中结束-->
{/case}
{case value="3"}
<!--订单已发货开始 已发货开始-->
<div class="order_index_btn clear">
    <a href="/member/orderpai/order_logistics/o_id/{$info.o_id|default=0}/is_seller/1">
        <div class="order_index_kefu rt ">发货信息</div>
    </a>
</div>
<!--已发货结束 订单已发货结束-->
{/case}
{case value="4"}
<!--评价商品开始 等待结算开始-->
<div class="order_index_btn clear">
    <a href="tel:400-027-1888">
        <div class="order_index_kefu rt ">联系客服</div>
    </a>
</div>
<!--等待结算结束 评价商品结束-->
{/case}
{case value="5"}
<!--交易已完成开始 我卖出的开始-->
<div class="order_index_btn clear">
    <a href="javascript:void(0);" onclick="built(this)">
        <div class="order_index_shouhuo order_payfor rt ">再次发布</div>
    </a>
</div>
<!--我卖出的结束 交易已完成结束-->
{/case}
{case value="10"}
    <!--未团中退款信息-->
    {if condition="$info.o_paystate == 3"}
    <!--订单退款中开始-->
    <div class="order_index_btn clear">
        <a href="javascript:void(0);" onclick="built(this)">
            <div class="order_index_kefu rt ">退款信息</div>
        </a>
    </div>
    <!--订单退款中结束-->
    {elseif condition="$info.o_paystate == 4"}
    <!--退款已完成开始-->
    <div class="order_index_btn clear">
        <a href="javascript:void(0);" onclick="built(this)">
            <div class="order_index_kefu rt ">退款信息</div>
        </a>
    </div>
    <!--退款已完成结束-->
    {/if}
    <!--未团中退款信息 end-->
{/case}
{/switch}
{/if}

</main>
{/block}
{block name="script"}
{include file="common/js_sdk" /}
<script>
    function copyUrl2() {
        var Url2 = document.getElementById("new_select");
        Url2.select();
        document.execCommand("Copy");//执行浏览器复制命令
        layer.msg("<span style='color:#fff'>复制成功，快去粘贴吧</span>", {
            time: 2000
        });
    }
    function built(){
        layer.msg("<span style='color:#fff'>功能建设中...</span>", {
            time: 2000
        });
    }
</script>
{/block}