{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
{/block}
{block name="script"}
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/summernote.min.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/demo/notepad.js"></script>
{/block}
{block name="content"}
<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-group  from_add_authority">
				<label>商家分类列表</label>
			</div>
			<table class="table table-hover" style="margin-bottom:0">
				<thead>
				<tr>
					<th>搜索ID</th>
					<th>时间</th>
					<th>关键词</th>
					<th>管理</th>
				</tr>
				</thead>
				<tbody>
				{volist name="list" id="vo"}
				<tr>
                    <td>{$vo.ps_id}</td>
					<td>{$vo.ps_addtime|date='Y-m-d H:i',###}</td>
					<td>{$vo.ps_keyword}</td>
					<td>
						<a href="/admin/search/del_self/page/{$page_num}/ps_id/{$vo.ps_id}" class="authoritylist_dele_btn">
							删除
						</a>
					</td>
				</tr>
				{/volist}
				</tbody>
            </table>
            <div>
                共{$total}条 {$page}
            </div>
        </div>
	</div>
</div>
{/block}

