{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/activity/peanut_rule.css">
{/block}
{block name="header"}
{include file="common/header" /}

{/block}
{block name="content"}
<main >
<div class="rule_top"></div>
    <div class="rule_content">
        <img src="__STATIC__/image/activity/icon_guize@2x.png" alt="">
        <div class="rule_tips">
            <p>1、本次秒杀活动为中国电信天翼用户专享。</p>
            <p>2、活动期间使用任何舞弊行为的用户一经发现，即刻取消秒杀活动资格。</p>
            <p>3、每日秒杀的礼品数量有限，秒完即止。秒杀礼品库存数量在秒杀过程中实时变化，秒杀成功与否以实际结果为准。</p>
            <p>4、每名用户每天可成功参与一次秒杀，活动期间每名用户最高可成功秒杀5次。</p>
            <p>5、在成功秒杀后，用户需提供真实信息。如因用户资料不全导致活动奖品无法正确发放的情况，主办方不对由此产生的任何后果负责。</p>
            <p>6、所有礼品将在活动结束后的15个工作日内免费寄出。</p>
            <p>7、本活动最终解释权归中国电信天翼爱游戏所有。</p>
        </div>
    </div>
</main>

{/block}

{block name="script"}
{include file="common/js_sdk" /}

<script>

</script>
{/block}