{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
{/block}
<!-- {block name="script"}
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/summernote.min.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/demo/notepad.js"></script>
{/block} -->
{block name="style"}
<style>
    .select_box{
        margin-left:30px;
    }
    .form-control{
        width: 100px;
        display:inline-block;
    }
</style>
{/block}
{block name="content"}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group  from_add_authority">
                <label>商家列表 </label>
            </div>
            <div>
                <label>推荐状态：</label>
                <select onchange="tj()" class="tj_value">
                    <option {if condition="$tj_value == ''"}selected{/if} value="" >全部</option>
                    <option {if condition="($tj_value == 1)"}selected{/if} value="1">推荐</option>
                </select>
            </div>
            <table class="table table-hover" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>申请ID</th>
                    <th>会员ID</th>
                    <th>店铺名称</th>
                    <th>店铺电话</th>
                    <th>企业分类</th>
                    <th>企业logo</th>
                    <th>保证金</th>
                    <th>店铺评分</th>
                    <th>物流评分</th>
                    <th>商品评分</th>
                    <th>货款</th>
                    <th>进驻时间</th>
                    <th>类型</th>
                    <th>推荐排序</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tbody>
                {empty name="list"}
                <tr>
                    <td colspan="20">没有数据</td>
                </tr>
                {else/}
                {volist name="$list" id="vo"}
                <tr>
                    <td>{$vo.store_id}</td>
                    <td>{$vo.m_id}</td>
                    <td>{$vo.stroe_name}</td>
                    <td>{$vo.corporation_tel}</td>
                    <td>{$categoryList[$vo.store_categoryid] ?? '未知'}</td>
                    <td><img src="{$vo.store_logo}" alt="" width="80" height="80"></td>
                    <td>{$vo.deposit}</td>
                    <td>{$vo.s_score}</td>
                    <td>{$vo.e_score}</td>
                    <td>{$vo.g_score}</td>
                    <td>{$vo.store_goodsmoney}</td>
                    <td>{$vo.add_time|date="Y-m-d H:i",###}</td>
                    <td>
                        {if condition="$vo.store_type == 1"}
                            自营商家
                        {elseif condition="$vo.store_type == 2"/}
                            其他商家
                        {else/}
                            未知
                        {/if}
                    </td>
                    <td>{if condition="$vo.store_tj == 0"}未推荐{else /}{$vo.store_tj}{/if}</td>
                    <td><button data-toggle="modal"  type="button" class="btn btn-info  btn-xs" data-target="#exampleModal" onclick="btn_fail('{$vo.store_id}')">推荐</button></td>
                </tr>
                {/volist}
                {/empty}
                </tbody>
            </table>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="margin-top:30px;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">推荐排序</h4>
                        </div>
                        <div class="modal-body">
                            <form method="get" action="/admin/store/set_store" >
                                <div class="form-group">
                                    <input type="hidden" class="store_id" name='store_id'>
                                    <input type="hidden" name='page' value="{$num}">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">排序:</label>
                                    <input type="text" class="store_tj" name="store_tj" placeholder="0为不推荐 其余数字从小到大排序" >
                                </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">发送</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    <div class="page_box">
        {$page}
        <span class="pagi_bar">共&nbsp;{$total}&nbsp;条</span>
    </div>
</div>
<script>
    $(function () {
       $('.slt').change(function(){
          var ba_state = $(this).val();
          location.href="/admin/store/applylist?ba_state="+ba_state
       });
    })
    //给模态框赋值（商家id）
    function btn_fail(id){
        $('.store_id').val(id);
    }
    //推荐状态按钮
    function tj(){
        var tj_value = $('.tj_value').val()
        location.href='/admin/store/storelist/tj_value/'+tj_value
    }
</script>
{/block}

