{extend name="thirdlogin/base" /} 

{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/index/mobilecode.css">
{/block}

{block name="content"}
<main>
        <div class='nav'>
            <p>手机号登录</p>
        </div>
        <div class='phone'>
            <p>+86</p>
            <input placeholder="输入手机号" type="text" name="mobile" id="mobile">
        </div>
        <div class='solid'></div>
        <div class='pass'>
            <input placeholder="验证码" type="text" name="verification" id="verification">
            <button id="sendcode">获取验证码</button>
        </div>
        <div>
            <input type="button"  class="btnone bsn" style="border:0"  value="确认登录" onclick="bsnclick()"/>
        </div>

 </main>

{/block}
{block name="script"}
<script src="__STATIC__/js/index/jquery-1.12.1.min.js"></script>
<script src="__STATIC__/lib/layui/layui.js"></script>
<script src="__STATIC__/js/index/rem.js"></script>
<script src="__STATIC__/js/index/mobilecode.js"></script>
<script>
    function bsnclick(){
        $('.bsn').attr('disabled','disabled');
        var returl=$("#returl").val();
        var mobile=$("#mobile").val();
        var verification=$("#verification").val();
        $.ajax("/index/mobilelogin/mobilecodelogin_ajax", {
            dataType: 'json',//服务器返回json格式数据
            type: 'POST',//HTTP请求类型console.log(data)
            data: { mobile:mobile,verification:verification},
            success: function (data) {
                $('.bsn').removeAttr('disabled')
                if (data.state == '1') {
                    location.href="/";
                }
                else{
                    $('.bsn').removeAttr('disabled')
                    //提示弹窗
                        layer.msg("<span style='color:#fff'>"+data.msg+"</span>",{
                            time:2000
                        });
                }
            }
        })
    }

</script>
{/block}



