<div class="header_nav">
    <div class="header_view">
        <div class="header_tit">
            <span>{$header_title ?? ''}</span>
            <p class="jiebang" onClick="javascript:window.location.href='/member/wallet/untie_bank_card'">解绑银行卡</p>
            <div class="header_back" {empty name='header_path'} onClick="javascript:history.back();" {else/} onClick="javascript:window.location.href='{$header_path}'" {/empty}>
                <img src="__STATIC__/icon/publish/icon_nav_back@2x.png" name='out' class="smt">
            </div>
        </div>
    </div>
</div>