{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/core/tj_success.css">
{/block}
{block name="header"}
{include file="common/header" /}
{/block}
{block name="content"}
<main>
    <div class="az-guide">
        <img class="code" src="__STATIC__/image/guide/code.png" />
        <p>扫描二维码也可下载</p>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=b2c.zhisheng.com.zhisheng&fromcase=40002">下载Android版</a>
    </div>
</main>
{/block}
{block name="script"}
{include file="common/js_sdk" /}

{/block}