{extend name="common/base" /}
{block name="style"}

<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/bootstrap-fileinput-master/css/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/edit.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/timepicker/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/webuploader/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/webuploader/css/diyUpload.css" />
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/lib/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/bootstrap-fileinput-master/js/locales/zh.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/summernote.min.js"></script>
<script src="__ADMIN_LIB_CLEARMINMASTER_JS__/demo/notepad.js"></script>
<script src="__STATIC__/lib/timepicker/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="__STATIC__/lib/timepicker/js/jquery-ui-timepicker-addon.js"></script>
<script src="__STATIC__/lib/timepicker/js/jquery-ui-timepicker-zh-CN.js"></script>
<script src="__STATIC__/lib/timepicker/js/jquery.ui.datepicker-zh-CN.js"></script>
<script src="__STATIC__/lib/webuploader/js/webuploader.html5only.min.js"></script>
<script src="__STATIC__/lib/webuploader/js/diyUpload.js"></script>

<!--百度富文本框编辑器-->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>

{/block}
{block name="content"}
<style>
    .form-group{width:800px;}
    .myeditor{height:600px;width:800px;margin: 0 auto;clear: both;}
    #editor{width:100%;height:500px;}
    .fileBoxUl {
        list-style: none;
        padding-left: 0;
        padding-right: 0;
    }
    .fileBoxUl li {
        list-style: none;
        padding: 0;
        margin-left: 0 !important;
        margin-right: 5px;
    }
    .diyCancel {
        z-index: 100;
    }
</style>
<div class="container-fluid">
    <div class="panel panel-default">
        <form method="post" action="" id="edit_form" onsubmit="return form_submit()" enctype="multipart/form-data">
            <div class="panel-body">
                <div class="form-group from_add_authority">
                    <label>{if condition="$ca_id > 0"}活动修改{else/}活动添加{/if}</label>
                </div>
                <div class="form-group from_add_margin">
                    <label>活动标题</label>
                    <input type="text" name="ca_name" class="form-control ca_name" placeholder="活动标题"
                           value="{$info.ca_name|default=''}">
                </div>

                <div class="form-group">
                    <label>活动渠道</label>
                    <select name="c_id" class="form-control">
                        {notempty name="channel_list"}
                        {volist name="$channel_list" id="vo"}
                        <option value="{$vo.c_id}" {notempty name="$info"}{if condition="$info.c_id == $vo.c_id"}selected{/if}{/notempty}>{$vo.c_name}</option>
                        {/volist}
                        {/notempty}
                    </select>
                </div>

                <div class="form-group">
                    <label>活动链接(http/https开头)</label>
                    <input type="text" name="ca_link" class="form-control ca_link" placeholder="活动链接"
                           value="{$info.ca_link|default=''}">
                </div>

                <div class="form-group" style="position: relative">
                    <label>活动logo(单张)</label>
                    <div id="box">
                        <div id="box_img"></div>
                        <div class="parentFileBox">
                            <ul class="fileBoxUl">
                                {notempty name="info.ca_img"}
                                <li class="diyUploadHover">
                                    <div class="viewThumb">
                                        <img src="{$info.ca_img}" />
                                    </div>
                                    <input type="hidden" class="pg_img" name="pg_img[]" value="{$info.ca_img}" />
                                    <div class="diyCancel" onclick="del(this,{$ca_id})"></div>
                                </li>
                                {/notempty}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>结束日期</label>
                    {notempty name='info.end_time'}
                    <input type="text" name="end_time" class="form-control" placeholder="结束日期"
                           readonly="readonly" style="cursor:pointer;" value="{$info.end_time|date='Y-m-d H:i:s',###}">
                    {else /}
                    <input type="text" name="end_time" class="form-control" placeholder="结束日期"
                           readonly="readonly" style="cursor:pointer;" value="">
                    {/notempty}
                </div>

            </div>
            <div class="form-group text-right" style="margin-top:20px">
                <input type="hidden" name="ca_id" value="{$ca_id|default='0'}"/>
                <button type="submit" class="btn btn-primary">保存信息</button>
                <button type="reset" class="btn btn-default" onclick="location.href='/admin/channelactivity/activity_list'">取消操作</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $( "input[name='end_time']" ).datetimepicker();
</script>
<script>
    $('#box_img').diyUpload({
        chunked:true,
        // 分片大小
        chunkSize:512 * 1024,
        //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
        fileNumLimit:1,
        fileSizeLimit:500000 * 1024,
        fileSingleSizeLimit:50000 * 1024,
        //图片预览大小
        thumb:{
            width:800,
            height:800,
            quality:100
        }
    });

    function form_submit() {
        //表单验证 TODO。。
        var ca_name = $('.ca_name').val();
        if(!$.trim(ca_name)){
            alert("请输入活动名称！");
            return false;
        }

        var ca_link = $('.ca_link').val();
        if(!$.trim(ca_link)){
            alert("请输入活动链接！");
            return false;
        }

        return true;
    }

    //删除已上传的图片
    function del(obj,ca_id) {
        $.ajax({
            type: "post",
            url: "/admin/channelactivity/delete_img",
            data: {
                ca_id:ca_id
            },
            success: function(res){
                $(obj).parents('li').remove();
            }
        })
    }

    //实例化编辑器
    var ue = UE.getEditor('editor');
</script>
{/block}