{extend name="common/base" /}
{block name="style"}

<link rel="stylesheet" href="__CSS__/download_app/download_app.css">
{/block}



{block name="content"}
<main style="margin: 0">
    <div class="download_app">
        <img class="download_app_load dropdown" src="__STATIC__/image/download_app/xiazaiapp@2x.png" alt="" >
        <div class="download_app_xiala">
            <img src="__STATIC__/image/download_app/icon_xiala@2x.png" alt="">
        </div>
    </div>
   
</main>


{/block}

{block name="script"}
{include file="common/js_sdk"/}
<script>
$(function(){
    // console.log($('.download_app img.dropdown'));
    $('.download_app .download_app_load').click(function(){
        // console.log(11);
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1) {
            //安卓手机
            window.location.href = "/member/register/az_guide"
        }else if (u.indexOf('iPhone') > -1) {
            //苹果手机
            //如果是苹果手机，则显示弹框
            window.location.href = "/member/register/ios_guide"
            // layer.confirm('您的手机为IOS系统，点击IOS下载', {
            //     title:false,/*标题*/
            //     closeBtn: 0,
            //     btnAlign: 'c',
            //     btn: ['知道了'], //按钮
            //     // btn1:function(){//按钮2的回调
            //     //     location.href="/member/login/index";
            //     // }
            // })
        }
    })
})
</script>
{/block}