       

	   <!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
	        <div class="container">
<!-- 	        	<div class="menuextras">
					<div class="extras">
						<ul>
							<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="page-shopping-cart.html"><b>3 items</b></a></li>
							<li>
								<div class="dropdown choose-country">
									<a class="#" data-toggle="dropdown" href="#"><img src="img/flags/gb.png" alt="Great Britain"> UK</a>
									<ul class="dropdown-menu" role="menu">
										<li role="menuitem"><a href="#"><img src="img/flags/us.png" alt="United States"> US</a></li>
										<li role="menuitem"><a href="#"><img src="img/flags/de.png" alt="Germany"> DE</a></li>
										<li role="menuitem"><a href="#"><img src="img/flags/es.png" alt="Spain"> ES</a></li>
									</ul>
								</div>
							</li>
			        		<li><a href="page-login.html">Login</a></li>
			        	</ul>
					</div>
		        </div> -->
				<!--导航开始-->
		        <nav id="mainmenu" class="mainmenu">
					<ul>
						<li class="logo-wrapper" style="padding:1.2em 0em;width:30%;"><a href="{:url('index/index')}"><img src="__CDN_PATH__{$config['WEB_LOGO']}" alt="Multipurpose Twitter Bootstrap Template" width="100%;"/></a></li>
						<li class="{$Home}">
							<a href="{:url('index/index')}">Home</a>
						</li>
						<li class="{$About}">
							<a href="{:url('news/about')}">About</a>
						</li>
						<li class="{$Products}">
							<a href="{:url('products/goodslist')}">Products</a>
						</li>
						<li class="{$Inquiry}">
							<a href="{:url('index/inquiry')}">Inquiry</a>
						</li>
						<li class="{$Service}">
							<a href="{:url('news/service')}">Service</a>
						</li>	
						<li class="{$Certificates}">
							<a href="{:url('index/certificates')}">Certificates</a>
						</li>							
						<li class="{$Contact}">
							<a href="{:url('index/contact_us')}">Contact Us</a>
						</li>
					</ul>
				</nav>
				<!--导航结束-->
			</div>
		</div>
		

		