{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__ADMIN_LIB_CLEARMINMASTER_CSS__/summernote.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/add_admin.css">
<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/goodscategory.css">
{/block}
{block name="content"}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group  from_add_authority">
                <label>文章列表</label>
                <a class="pull-right" href="{:url('Article/edit')}">添加文章</a>
            </div>
            <table class="table table-hover" style="margin-bottom:0">
                <thead>
                <tr>
                    <th>文章ID</th>
                    <th>标题图片</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>类型</th>
                    <th>简介</th>
                    <th>状态</th>
                    <th>文章管理</th>
                </tr>
                </thead>
                <tbody>
                {empty name="list"}
                <tr>
                    <td colspan="20">没有数据</td>
                </tr>
                {else/}
                {volist name="$list" id="vo"}
                <tr>
                    <th scope="row" class="sid">{$vo.a_id}</th>
                    <td><img src="__CDN_PATH__{$vo.a_img}" width="50px"></td>
                    <td>{$vo.a_name}</td>
                    <td>{$vo.a_author}</td>
                    <!--<td>{if condition="$vo.a_type == 0"}公告{else/}新闻{/if}</td>-->
                    <td>{$vo.type_name|default=''}</td>
                    <td>{$vo.a_brief}</td>
                    <td>{if condition="$vo.a_state == 0"}显示{else/}不显示{/if}</td>
                    <td>
                        <a href="{:url('Article/edit',['a_id' => $vo.a_id])}">
                            编辑
                        </a>
                        <a href="{:url('Article/delete',['a_id' => $vo.a_id])}" class="dele_btn">
                            删除
                        </a>
                    </td>
                </tr>
                {/volist}
                {/empty}
                </tbody>
            </table>
            <div>
                {$page}
                <span class="pagi_bar">共&nbsp;{$total}&nbsp;条</span>
            </div>
        </div>
    </div>
</div>

{/block}

