
{extend name="common/base" /}
{block name="style"}
<link rel="stylesheet" href="__CSS__/orderpai/cancel_money.css">
{/block}
{block name="header"}
{include file="common/header" /}
{/block}
{block name="content"}
<main>
    {if condition="$data.status==0"}
    <!-- 取消失败 -->
    <div class="cancel">
        <div class="cancel_money">
            <img src="__STATIC__/image/orderpai/icon_gou@2x.png" alt="" style="width:100%;height:100%;">
        </div>
        <p>取消申请失败</p>
        <span>系统开小车啦稍后再试～</span>
    </div>
    {elseif condition="$data.status==1" /}
     <!-- 取消成功 -->
     <div class="cancel">
            <div class="cancel_money">
                <img src="__STATIC__/image/orderpai/icon_gou@2x.png" alt="" style="width:100%;height:100%;">
            </div>
            <p>成功取消提现申请</p>
        </div>
    {elseif condition="$data.status==2" /}
        <!-- 取消失败 -->
        <div class="cancel">
            <div class="cancel_money">
                <img src="__STATIC__/image/orderpai/icon_gou@2x.png" alt="" style="width:100%;height:100%;">
            </div>
            <p>取消申请失败</p>
            <span>没有找到该提现订单</span>
        </div>
    {/if}
</main>
{/block}
{block name="script"}
{include file="common/js_sdk" /}
{/block}